extends ../base/layout

block data

block variables
  - var title = "Навигационная страница"
  - var wrapperMod = ""
  - var hasHeader = false
  - var headerMod = ""
  - var hasFooter = false
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    h1  Новости культуры
      