.content {  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1160px) {
        flex-direction: column;
       
    }

    @media (max-width: 768px) {
        flex-direction: column;     
    }

    &__title {        
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;     
        letter-spacing: 2px;        
        color: #000000;
        text-transform: uppercase;     
        margin: 0 0 15px 0;   
        
        @media (max-width: 768px) {
           text-align: center;   
        }
    }
    
    &__heading {
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 27px; 
        margin: 0 0 10px 0;
        color: #000000;
        transition: color 0.3s ease;
    }

    &__description {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        margin: 0;

        @media (max-width: 1160px) {
            max-width: 370px;   
         }
    }
    
    &__bookmark {
        position: absolute;
        top: 10px;
        right: 8px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        z-index: 1;

        &:hover,
        &:focus {     
            svg {
                fill: #FF7931; 
            }        
        }

        svg {          
            fill: transparent;
            transition: fill 0.3s ease;           
        }
    }

    &__views {
        display: none;
        align-items: center;
        position: absolute;
        left: 19px;
        bottom: 16px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        z-index: 1;        

        &:hover,
        &:focus {     
            svg {
                stroke: #FF7931; 
            }        
        }

        svg {                     
            transition: fill 0.3s ease;   
            fill: none;
            stroke: rgba(255, 255, 255, 0.4);  
            margin-right: 5px;      
        }

        span {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    &__comments {
        display: none;
        align-items: center;
        position: absolute;
        left: 83px;
        bottom: 16px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        z-index: 1; 
        

        &:hover,
        &:focus {     
            svg {
                stroke: #FF7931; 
            }        
        }

        svg {                     
            transition: fill 0.3s ease;   
            fill: none;
            stroke: rgba(255, 255, 255, 0.4);   
            margin-right: 5px;           
        }

        span {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.4);
        }
    }


    &__img {
        position: relative;
        width: 100%;
        min-height: 203px;  
        max-width: 370px; 
        margin-bottom: 20px;    

        @media (max-width: 768px) {
            max-width: 370px;
            margin: 0 auto 15px auto;
        }         
  
        .mask {
            opacity: 0;
            width: 100%;
            height: 100%;    
            transition: opacity 0.3s ease;        
        }
    }

    &__section {
        margin-bottom: 76px;

        @media (max-width: 768px) {
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--footer {
            position: relative;
            min-height: 176px;
            margin-top: auto;
            padding: 70px 0;
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                display: block; 
            }

            & > * {
                position: relative;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .content__title {              
                font-family: $font-family-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;             
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 47px 0 0;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    margin: 0 0 20px 0;
                }
            }

            .content__btn {          
                @media (max-width: 768px) {
                    max-width: 170px;
                    margin: 0 auto;
                }
            }
        }
    }
  
    &__news {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;


        @media (max-width: 768px) {
            flex-direction: column;                   
        }    
    }

    &__news-main {     
        position: relative;        
        flex-basis: calc(60.7% - 16px);
        min-height: 334px;

        @media (max-width: 1160px) {
            flex-basis: 55%;               
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            flex-basis: initial;   
            margin-bottom: 25px;              
        }

        .content__news-link {            
            display: flex;
            flex-direction: column;
            padding: 20px 27px;

            @media (max-width: 768px) {
                margin-top: auto;            
            }
        }

        .content__heading {
            margin-top: auto;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;          
       

            @media (max-width: 768px) {
                // width: 320px;
                height: 100%;                 
            }
        }
    }

    &__news-list {
        flex-basis: calc(39.3% - 16px);
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: 768px) {
            flex-basis: initial;                
        }
    }

    &__news-item {   
        display: flex;
        align-items: flex-start;
        margin-bottom: 31px;       

        .content__heading {
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
        }

        .content__description {
            font-size: 10px;
            line-height: 150%;
        }

        .content__small-img {            
            margin-right: 12px;        
            flex-shrink: 0;

            img {               
                object-fit: cover;
            }
        }

        &:last-child {
            .content__news-link {
                margin-bottom: 0;
            }
        }
    }

    &__news-link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; 
        outline: none;

        &:hover,
        &:focus {
            .content__heading {
                color: #FF7931;
            }
        }
        
        & > * {
            position: relative;
        }
    }


    &__main {          
        flex-basis: 65.5%;      
        display: flex;
        flex-direction: column;    

        @media (max-width: 1160px) {
            flex-basis: initial;   
        }
    }

    &__aside {        
        // flex-basis: calc(34.5% - 15px);   
        flex-basis: 370px; 
        flex-shrink: 0;  

        @media (max-width: 1160px) {
            flex-basis: initial;   
            order: 1;
        }      

        .content__title {
            font-family: $font-family-secondary;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1A1C1C;

            &--light {
                color: #FFFFFF;
             }
        }
    }

    &__article {
        position: relative;
        max-width: 370px;
        min-height: 479px;
        margin-bottom: 46px;
        padding: 48px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            min-height: 310px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;          
        }

        & > * {
            position: relative;
        }
    }

    &__reviews {
        margin: 0;
        padding: 0; 
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__reviews-item {       
        width: calc(50% - 14px);
        margin-bottom: 37px;

        @media (max-width: 768px) {
            width: auto; 
            margin-bottom: 30px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &--active {
            .content__bookmark {
                svg {
                    fill: #FF7931;
                }    
            }

            .content__views {
               display: flex;
            }

            .content__comments {
               display: flex;
            }

            .mask {
                opacity: 1;
            }
        }

        img {
            display: block;     
            height: 203px;
        }

        .content__heading {            
            font-size: 23px;
            line-height: 31px;
        }        
    }

    &__reviews-link {
        display: block;        
        text-decoration: none;
        color: inherit;       
        outline: none;

        &:hover,
        &:focus {
            .content__heading {
                color: #FF7931;
            }
        }
    }

    &__slider {
        outline: 1px solid red;
        flex: 0 0 100%;
        margin-top: 80px;
        margin-bottom: 97px;
        min-height: 136px;

        @media (max-width: 768px) {
            flex: initial;
            margin-top: 50px;
            margin-bottom: 75px;
        }
    }
}