.content {  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__title {        
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;     
        letter-spacing: 2px;        
        color: #000000;
        text-transform: uppercase;     
        margin: 0 0 15px 0;          
    }
    
    &__heading {
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 27px; 
        margin: 0 0 10px 0;
        color: #000000;
    }

    &__description {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        margin: 0;
    }

    &__section {
        margin-bottom: 76px;

        &:last-child {
            margin-bottom: 0;
        }

        &--footer {
            position: relative;
            min-height: 176px;
            margin-top: auto;
            padding: 70px 0;
            display: flex;
            justify-content: center;

            & > * {
                position: relative;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .content__title {              
                font-family: $font-family-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;             
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 47px 0 0;
            }
        }
    }
  
    &__news {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__news-main {     
        flex-basis: calc(60.7% - 16px);

        .content__news-link {
            display: flex;
            flex-direction: column;
            padding: 20px 27px;
        }

        .content__heading {
            margin-top: auto;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__news-list {
        flex-basis: calc(39.3% - 16px);
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__news-item {        
        .content__news-link {
            display: flex;
            align-items: flex-start;
            margin-bottom: 31px;
        }

        .content__heading {
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
        }

        .content__description {
            font-size: 10px;
            line-height: 150%;
        }

        img {
            margin-right: 12px;
        }

        &:last-child {
            .content__news-link {
                margin-bottom: 0;
            }
        }
    }

    &__news-link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; 
        
        & > * {
            position: relative;
        }
    }


    &__main {
        outline: 1px solid red;       
        flex-basis: 65.5%;      
        display: flex;
        flex-direction: column;    
    }

    &__aside {
        outline: 1px solid red;
        // flex-basis: calc(34.5% - 15px);   
        flex-basis: 370px; 
        flex-shrink: 0;  
      

        .content__title {
            font-family: $font-family-secondary;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1A1C1C;

            &--light {
                color: #FFFFFF;
             }
        }
    }

    &__article {
        position: relative;
        min-height: 479px;
        margin-bottom: 46px;
        padding: 48px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;          
        }

        & > * {
            position: relative;
        }
    }

    &__reviews {
        margin: 0;
        padding: 0; 
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__reviews-item {
        width: calc(50% - 14px);
        margin-bottom: 37px;
    }

    &__reviews-link {
        text-decoration: none;
        color: inherit;
    }

    &__slider {
        outline: 1px solid red;
        flex: 0 0 100%;
        margin-top: 80px;
        margin-bottom: 97px;
        min-height: 136px;
    }
}