.content {  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1160px) {
        flex-direction: column;
       
    }

    @media (max-width: 768px) {
        flex-direction: column;     
    }

    &__title {        
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;     
        letter-spacing: 2px;        
        color: #000000;
        text-transform: uppercase;     
        margin: 0 0 15px 0;   
        
        @media (max-width: 768px) {
           text-align: center;   
        }
    }
    
    &__heading {
        font-family: $font-family-secondary;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 27px; 
        margin: 0 0 10px 0;
        color: #000000;
    }

    &__description {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        margin: 0;
    }

    &__img {
        position: relative;
        width: 100%;
        min-height: 203px;   
        

        .mask {
            width: 100%;
            height: 100%;            
        }
    }

    &__section {
        margin-bottom: 76px;

        @media (max-width: 768px) {
            margin-bottom: 50px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--footer {
            position: relative;
            min-height: 176px;
            margin-top: auto;
            padding: 70px 0;
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                display: block; 
            }

            & > * {
                position: relative;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .content__title {              
                font-family: $font-family-primary;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;             
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 47px 0 0;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    margin: 0 0 20px 0;
                }
            }

            .content__btn {
                @media (max-width: 768px) {
                    max-width: 170px;
                    margin: 0 auto;
                }
            }
        }
    }
  
    &__news {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;


        @media (max-width: 768px) {
            flex-direction: column;                   
        }    
    }

    &__news-main {     
        position: relative;        
        flex-basis: calc(60.7% - 16px);
        min-height: 334px;

        @media (max-width: 1160px) {
            flex-basis: 55%;               
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            flex-basis: initial;   
            margin-bottom: 25px;              
        }

        .content__news-link {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px 27px;

            @media (max-width: 768px) {
                margin-top: auto;            
            }
        }

        .content__heading {
            margin-top: auto;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;          
       

            @media (max-width: 768px) {
                // width: 320px;
                height: 100%;                 
            }
        }
    }

    &__news-list {
        flex-basis: calc(39.3% - 16px);
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: 768px) {
            flex-basis: initial;                
        }
    }

    &__news-item {        
        .content__news-link {
            display: flex;
            align-items: flex-start;
            margin-bottom: 31px;
        }

        .content__heading {
            font-weight: 900;
            font-size: 14px;
            line-height: 19px;
        }

        .content__description {
            font-size: 10px;
            line-height: 150%;
        }

        img {
            margin-right: 12px;
        }

        &:last-child {
            .content__news-link {
                margin-bottom: 0;
            }
        }
    }

    &__news-link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none; 
        
        & > * {
            position: relative;
        }
    }


    &__main {          
        flex-basis: 65.5%;      
        display: flex;
        flex-direction: column;    

        @media (max-width: 1160px) {
            flex-basis: initial;   
        }
    }

    &__aside {        
        // flex-basis: calc(34.5% - 15px);   
        flex-basis: 370px; 
        flex-shrink: 0;  

        @media (max-width: 1160px) {
            flex-basis: initial;   
            order: 1;
        }      

        .content__title {
            font-family: $font-family-secondary;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #1A1C1C;

            &--light {
                color: #FFFFFF;
             }
        }
    }

    &__article {
        position: relative;
        max-width: 370px;
        min-height: 479px;
        margin-bottom: 46px;
        padding: 48px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            min-height: 310px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;          
        }

        & > * {
            position: relative;
        }
    }

    &__reviews {
        margin: 0;
        padding: 0; 
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__reviews-item {
        width: calc(50% - 14px);
        margin-bottom: 37px;

        @media (max-width: 768px) {
            width: auto; 
            margin-bottom: 30px;
            text-align: center;
        }

        img {
            display: block;
            margin: 0;
            height: 203px;

         

            @media (max-width: 768px) {
               margin: 0 auto;
               margin-bottom: 15px;
            }
        }

        .content__heading {            
            font-size: 23px;
            line-height: 31px;
        }        
    }

    &__reviews-link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    &__slider {
        outline: 1px solid red;
        flex: 0 0 100%;
        margin-top: 80px;
        margin-bottom: 97px;
        min-height: 136px;

        @media (max-width: 768px) {
            flex: initial;
            margin-top: 50px;
            margin-bottom: 75px;
        }
    }
}