.hotel-slider {
    width: 100%;      
  }
  
  .hotel-slider__container {   
    position: relative;
    z-index: 2;
  }
  
  .hotel-slider__list {
    width: 100%;
    overflow: hidden;
     
  
    .slider-controls-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      background: #FFFFFF;
      padding: 0;
      border: none;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      width: 44px;
      height: 44px;
      cursor: pointer;
  
      &--prev {
        left: -20px;
  
        @media (max-width: 1351px) {
          left: 0;
        }
      }
  
      &--next {
        right: -20px;
  
        @media (max-width: 1351px) {
          right: 0;
        }
      }
  
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  
  .hotel-slider__wrap {
    display: flex;
    width: 100%; 
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: grab;
  }
  
  .hotel-slider__item {
    background-image: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center 0;

    min-height: 464px;   
    padding-top: 62px;
    position: relative;    
    flex-shrink: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    height: 100%;
      
 
    > * {
      position: relative;
    }
  
    &--hidden {
      &::before {
        opacity: 0.7;
        z-index: 2;
      }
    }
  
    &--transparent {
      opacity: 0;
    }
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  
  