.main-navigation {  
    @media (max-width: 1235px) {   
        display: none;   
        position: fixed;       
        top: 0;
        right: 0;
        width: 320px;
        min-height: 779px;
        background-color: #fff;
        padding-top: 76px;
        padding-bottom: 30px;
        z-index: 5;       
      }     
    
    @media (max-width: 768px) {    
        width: 100%;
        height: 100%;
    }


    &__close {
        display: none;
        outline: none;
       
        &:hover,
        &:focus {           
            svg {
                stroke: #FF7931;  
            } 
        }

        @media (max-width: 1235px) {   
            display: flex;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }    
        
        svg {
            stroke: #d7d9df;
            transition: stroke 0.3s ease;
        }

    }

    &__list {
        margin: 0 0 47px 0;
        padding: 0;
        list-style: none;
        display: flex;
    
        @media (max-width: 1235px) {          
            flex-direction: column; 
            margin-bottom: 0;
          }  
    }

    &__item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1235px) {
            margin-right: 0;  
            margin-bottom: 20px;         
        }
    }

    &__link {
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        transition: color 0.3s ease;
        outline: none;

        &:hover,
        &:focus {           
            color: #FF7931; 
        }

        @media (max-width: 1235px) {
           display: block;
           background-color: #F9F9FC;   
           padding: 18px 52px 18px 16px; 
        }
    }    
}