mixin footer(footerMod)
  footer.page-footer
    .page-footer__social
      ul.page-footer__social-list
        li.page-footer__social-item
          a.page-footer__social-link(href="#")
            +icon("icon-twitter", 32, 32)
        li.page-footer__social-item
          a.page-footer__social-link(href="#")
            +icon("icon-insta", 32, 32)
        li.page-footer__social-item
          a.page-footer__social-link(href="#")
            +icon("icon-fb", 32, 32)
        li.page-footer__social-item
          a.page-footer__social-link(href="#")
            +icon("icon-vk", 32, 32)
    .page-footer__info
      ul.page-footer__info-list
        li.page-footer__info-item.page-footer__info-item--supplier
          a(href="#") Для поставщиков
        li.page-footer__info-item.page-footer__info-item--supplier
          a(href="#") Наши документы
        li.page-footer__info-item.page-footer__info-item--supplier
          a(href="#") О производстве
    .copyright
      a.copyright__link(href="#")
      span Сайт создан


