html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.38;
  font-family: $font-family-primary;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.container {
  max-width: 1167px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.btn {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  padding: 11px 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 2px;
  }

  &--light {
    background: #FF7931;
    border: 2px solid #FF7931;
  }

  &--dark {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #FF9A64;
  }  
}

.mask {
  position: absolute;
}