$mobile-width: 767px;
$tablet-width: 1023px;
$font-family-primary: "Raleway", "Arial", sans-serif;
$font-family-secondary: "Playfair-display", "Times New Roman", serif;
$color-transparent: transparent;
$default-transition-settings: 0.3s ease;