.pagination {
  width: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;

  &:only-child {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (max-width: 768px) {
    justify-content: center;
    font-size: 18px;
    line-height: 32px;

    .pagination__list {
      display: none;
    }
  }
}

.pagination__btn {
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 19px;

  &--first {
    svg {
      transform: rotate(180deg);
    }
  }

  &--prev {
    svg {
      transform: rotate(180deg);
    }
  }

  &--next {
    margin-left: 25px;
  }

  &--last {
    margin-right: 0;
  }

  @media (hover: hover), screen and (min-width: 0) {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.pagination__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li:not(:last-of-type) {
    margin-right: 8px;
  }
}

//.pagination__item {
//  &:not(:last-of-type) {
//    margin-right: 32px;
//  }
//}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $color-transparent;
  font: inherit;
  color: rgba(#000000, 0.6);
  transition: color 0.3s ease;

  &--active {
    background-color: #ff7931;
    color: #ffffff;
    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0) {
    &:hover,
    &:focus {
      color: #000000;
    }
  }
}

.pagination__more {
  display: none;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: blue;
  margin-left: 15px;
  transition: opacity 0.3s ease;
  overflow-anchor: none;

  @media (max-width: 768px) {
    position: relative;
    display: inline-flex;
  }

  svg {
    margin-top: -4px;
    margin-right: 5px;

    @media (max-width: 768px) {
      position: absolute;
      top: 1.5px;
      margin: auto;
      left: -15px;
    }
  }

  span {
    display: inline-block;
    margin-left: 3px;
  }

  @media (hover: hover), screen and (min-width: 0) {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
